{{define "sidebarTempl"}}
<div class="about">{{template "aboutTempl"}}</div>
<div class="techstack">{{template "techTempl"}}</div>
{{end}}

{{define "aboutTempl"}}
<div class="photoOfMe"><img src="/static/images/other/mewedding.jpg" alt="me" width="232" height="308"></div>
<br>
<div class="story">I am currently using Golang for most of my personal projects. I am planning on jumping into Zig, Rust, C, or Carbon next.</div>
{{end}}


{{define "techTempl"}}
<div class="langTitle"><h3>Languages</h3></div>
<div class="langLogos">
    <img class="logo" src="/static/images/logos/go.svg" alt="Go" width="35" height="35">
    <img class="logo" src="/static/images/logos/js.svg" alt="js" width="35" height="35">
    <br>
    <img class="logo" src="/static/images/logos/css.svg" alt="css" width="35" height="35">
    <img class="logo" src="/static/images/logos/html.svg" alt="html" width="35" height="35">
    <br>
    <img class="logo" src="/static/images/logos/mysql3.svg" alt="sql" width="35" height="35">
    <img class="logo" src="/static/images/logos/postgresql.svg" alt="sql" width="35" height="35">
</div>
{{end}}