
.container {
    --main-bg-color: rgb(50,50,50);
    background-color: antiquewhite;
    color:antiquewhite;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: [col1] 20vw [col2] auto [end];
    grid-template-rows: [row1] 15vh [row2]  auto [end];
}

.header{
    grid-column-start: col1;
    grid-column-end: end;
    grid-row-start: row1;
    grid-row-end: row2;
    margin-bottom: 1px;

    
    background-color: var(--main-bg-color);

    padding: 1vmax;
    display: grid;
    grid-template-columns: [start] 10vw [title-start] auto [title-end] auto [links-start] auto [end];
    grid-template-rows: [start]auto [header-top] 10vh [header-bottom] auto[end];

    .title {
        grid-column-start: title-start;
        grid-column-end: title-end;
        grid-row-start: header-top;
        grid-row-end: header-bottom;
    }

    .link{
        margin: 1vh;
        display: flex;
        grid-column-start: end;
        grid-column-end: links-start;
        grid-row-start: header-top;
        grid-row-end: header-bottom;
    }

}



.content {
    border-radius:  10px 0 0 0;
    margin-top: 1px;
    margin-left: 1px;
    background-color: var(--main-bg-color);
    grid-column-start: col2;
    grid-column-end: end;
    grid-row-start: row2;
    grid-row-end: end;
}




.logo{
    background-color: antiquewhite;
    margin: 3px;
    padding: 4px;
    border-radius: 8px;
}


.sidebar {
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row2;
    grid-row-end: end;
    border-radius: 0 10px 0 0;
    margin-top: 1px;
    margin-right: 1px;
    background-color: var(--main-bg-color);
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.projectCSS {
    display: grid;
    grid-template-rows: [start] 5vh [title-start] 5vh [title-end] 10vh [project-start] 10vh [project-end]
}


.projTitleCSS {
    grid-column-start: col2;
    grid-column-end: end;
    grid-row-start: title-start;
    grid-row-end: title-end;
}

.projImgCSS {
    grid-column-start: col2;
    grid-column-end: end;
    grid-row-start: project-start;
    grid-row-end: project-end;
}