.container {
    background-color: rgb(50,50,50);
    color:antiquewhite;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
}

.header{
    padding: 1vmax;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid antiquewhite;
}

.mainstage{
    display: flex;
    min-height: 85vh;
}


.side-bar{
    min-width: 15vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: .5vh;
    justify-content: space-between;
    border-right: 1px solid antiquewhite;
}

.link{
    display: flex;
}

.logo{
    background-color: antiquewhite;
    margin: 3px;
    padding: 4px;
    border-radius: 8px;
}